[user]
	email = chiedo@users.noreply.github.com
	name = chiedo
[core]
	excludesfile = /Users/chiedo/.gitignore_global
[github]
	user = chiedo
[push]
	default = simple
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	rebase = false
